@import "tailwindcss";
/* custom utility for hiding scrollbars */
.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

:root {
  --inputFields: #5c7a92;
  --inputLabels: #84a9dc;
  --headers: #a0c4e1;
  --background: #0e1012;
  --circle: #2b373e;
  --button: #3a4a55;
  --buttonText: #a0c4e1;
  --smallText: #84a9dc;
  --links: #a0c4e1;
  --icons: #1c2428;
  --placeholders: #3a4a55;
  --todoBG: #4a6572;
  --todoPlaceholder: #a0c4e1;
}

body {
  background-color: var(--background);
}

* {
  font-family: "Gowun_Batang";
}
